*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #195A00;
    --color-primary-yellow: #FF9F0D;
    --color-white: #ffffff;
    --color-black-opa50: rgba(33, 34, 36, 0.5); 
    --color-black: #000000;
    --color-secondary: #333333;

    --text-primary: "Roboto", sans-serif;
    --text-secondary: "Inter", sans-serif;
}

body{
    background-color: var(--color-white);
}

h2{
    font-family: var(--text-primary);
    font-size: 48px;
    color: #333333;
    font-weight: bold;
    text-align: center;
}
.subtitle{
    font-family: var(--text-secondary);
    font-size: 24px;
    font-weight: 400;
    color: #4F4F4F;
    text-align: center;
}

/* NavBar start */
nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 24px 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo a{
    color: var(--color-primary);
    font-size: 1.5em;
    text-decoration: none;
    font-family: var(--text-primary);
    font-weight: bold;
}
.menu-burger{
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.menu-burger span {
    width: 24px;
    height: 3px;
  
    background-color: var(--color-black);
}

.navi-links ul{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 15px;
    list-style: none;
}

.navi-links ul li a{
    text-decoration: none;
    color: var(--color-secondary);
    font-family: var(--text-secondary);
    font-weight: 400;
    font-size: 1em;
}

/* End Navbar */

/* Hero start */

.hero{
    border-bottom: 2px solid var(--color-black);
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 50px;
    

}




.hero span{
    font-family: "Miniver", cursive;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-primary);
}
.hero h1{
    font-family: var(--text-primary);
    font-size: 60px;
    font-weight: bold;
    color: var(--color-black);
    margin-top: 6px;
}

.hero p{
    font-family: var(--text-secondary);
    font-size: 16px;
    color: var(--color-black);
    margin-top: 34px;
}

.btn-gp-hero {
    display: flex;
    gap: 31px;
}
.full-btn{
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 16px 48px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: var(--text-secondary);
    font-weight: bold;
    border-radius: 6px;
}
.empty-btn{
   border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-white);
    padding: 16px 48px;
    cursor: pointer;
    font-size: 18px;
    font-family: var(--text-secondary);
    font-weight: bold;
    border-radius: 6px;
}



/* End Hero */

/* Start Why us */

.why-us{
 
    padding: 50px 0px 50px 15px;
    max-width: 1200px;
    margin: 0 auto;
   
   
}

.why-us img{
     width: 80px;
}

.whs-col{
    display: flex;
  
    align-items: center;
    border-left: 4px solid var(--color-primary);
 
    gap: 5px;

}

.why-us h5{
    font-family: var(--text-primary);
    font-weight: bold;
    font-size: 24px;
    color: #4F4F4F;
}

/* End Why us */

/* Start menu */
.menu{
    margin-top: 283px;
    margin-left: auto;
    max-width: 1200px;
    margin-right: auto;
    margin-bottom: 0;
}

.menu-button{
    display: flex;
    justify-content: center;
align-items: center;
}

.menu-button .outline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    max-width: 844px;
    margin-top: 80px;
}

.menu-button span{
    font-family: var(--text-secondary);
    font-size: 20px;
    font-weight: 400;
    color: #4F4F4F;
}

hr{
    height: 2px;
    background-color: #D9D9D9;
    margin-bottom: 77px;
}

.left, .right{
    display: flex;
    
    border-bottom: 2px dotted var(--color-black);
    padding: 5px 0px;
    
    
}

.left img, .right img{
    width: 106px;
    height: 101px;
    display: block;
    margin-right: 15px;
   
}

.menu-item-center{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.menu-item-center .food-name{
    font-family: var(--text-secondary);
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 0px;
}

.menu-item-center .food-cal{
    font-family: var(--text-secondary);
    font-size: 16px;
    font-weight: 400;
    color: #333333;
  
}

.price{
    font-family: var(--text-secondary);
    font-size: 24px;
    font-weight: bold;
    color: var(--color-primary);
    margin-right: 15px;
    text-transform: uppercase;
    
}

.all-menu-button{
    display: flex;
    justify-content: center;
}
.open-button{
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* End menu */

/*popup menu start*/
.hidden{
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%,-50%);
    height: 80vh;
    width: 100%;
    overflow-y: auto;
    padding: 30px;
    
    
}

.hidden h2,.hidden p,.hidden .menu-button .outline span, .hidden .line .menu-item-center p{
    color: white;
} 
.hidden .line .right,.hidden .line .left{
    border-bottom: 2px dotted var(--color-white);
}
.hidden .line .price{
    color: var(--color-primary);
}
.popup-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 998;
}
.close-button{
    position: relative;
    left: 95%;
    border: 1px solid;
    padding: 5px 10px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    z-index: 1000;
    
}
/*popup menu end*/

/*start special offert*/
.special-offer{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 283px;
}


.special-item{
    width: 100%;
    height: 492px;
    border: none;
    box-shadow: 0px 2px 2px 2px #4F4F4F;
    display: flex;
    flex-direction: column;
   border-radius: 6px;
    
}

.special-item img{
    padding: 35px;
    margin-bottom: 5px;
}
.special-item h4,.special-item p{
    text-align: center;
    font-family: var(--text-secondary);
    margin: 5px;
    
}

.special-item .special-btn{
    padding: 10px 0px;
    margin:auto;
    width: 80%;
    height: 20%;
}

.special-item .special-price{
   width: 100px;
   height:100px;
   padding-top: 25px;
   padding-bottom: 25px;
   padding-right: auto;
   padding-left: auto;
   position: relative;
   bottom:32vh;
   left: 50%;
   border-color: var(--color-black);
   border-style: dotted;
   border-radius: 50%;
   background-color: var(--color-white);
}

/*satart reservation*/
.reservation{
   
    background-color: #4F4F4F;
    background-image: url("assets/fried-wings-plate_23-2147717053.png");
    background-size: cover;
    background-position: center center;
    margin-top: 283px;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-bottom: 0;
}


.reservation-form{
    padding: 30px;
    background-color: transparent;
}
.form-line{
    display: flex;
    justify-content: space-between;
}
.reservation-input{
   display: block;
    height: 40px;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border:none;
    padding-left: 20px;
    padding-right: 10px;
    color:#ffffff;
    border-radius: 2px;
 

    
}
.reservation-input::placeholder{
    color: #ffffff;
    text-transform: capitalize;
}

.reservation-form textarea{
    width: 100%;
    height: 172px;
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
}
.reservation-form textarea::placeholder{
    color: #ffffff;
}
.reservation-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.reservation-button button{
    display: block;
    border-color: #FF9F0D;
    background-color: transparent;
    color: var(--color-white);
    font-weight: 600px;
}
.reservation-button button:hover{
    background-color: #FF9F0D;
}


@media (max-width: 768px){

    

    nav{
        padding: 10px;
    }
    .menu-burger{
        display: flex;
    }

    .navi-links{
        position: absolute;
        top: 58px;
        left: 0;
        background-color: var(--color-primary-yellow);
        width: 100%;
        gap: 0;
        max-height: 0px;
        flex-direction: column;
        overflow: hidden;
    }

    .navi-links ul{
        flex-direction: column;
        align-items: center;
        padding: 20px;
      
    }

    .navi-links ul li a{
        color: var(--color-secondary);
        font-size: 1.2em;
        padding: 10px;
    }
    .navi-links.active{
        max-height: 300px;
    }

    #navi-links{
        transition: all 0.7s;
    }

/* Hero start in media queries */
    .hero{
        border-bottom: 1px solid var(--color-black);
      
        max-width: 1200px;
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
     
       
    }
    
    .hero span{
        font-family: "Miniver", cursive;
        font-weight: 400;
        font-size: 14px;
        color: var(--color-primary);
    }
    .hero h1{
        font-family: var(--text-primary);
        font-size: 32px;
        font-weight: bold;
        color: var(--color-black);
        margin-top: 6px;
    }
    
    .hero p{
        font-family: var(--text-secondary);
        font-size: 14px;
        color: var(--color-black);
        margin-top: 14px;
    }
    
    .btn-gp-hero {
        display: flex;
        gap: 11px;
    }
    .full-btn{
        background-color: var(--color-primary);
        color: var(--color-white);
        padding: 16px 11px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        font-family: var(--text-secondary);
        font-weight: bold;
        border-radius: 6px;
    }

    .empty-btn{
       border: 1px solid var(--color-primary);
        color: var(--color-primary);
        background-color: var(--color-white);
        padding: 16px 11px;
        cursor: pointer;
        font-size: 14px;
        font-family: var(--text-secondary);
        font-weight: bold;
        border-radius: 6px;
    }

    .img-hero{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        
  
    }

    .img-hero img{
        width: 334.66px;
       
    
    }




}

@media (min-width:426px) and (max-width: 768px){

    /* Start Why us in media queries */

    .why-us{
        display: flex;
      align-items: center;
        justify-content: center;
    
        padding: 20px 0px;
       
    
    }
    
    .why-us img{
         width: 50px;
    }
    
    .whs-col{
        display: flex;
        justify-content: center;
        align-items: center;
      
        border-left: 4px solid var(--color-primary);
    
    
    }
    
    .why-us h5{
        font-family: var(--text-primary);
        font-weight: bold;
        font-size: 18px;
        color: #4F4F4F;
    }
    
    /* End Why us */

    /*start menu queryset*/
    .menu-button .outline{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        max-width: 415px;
        margin-top: 80px;
        
    }
    .left img, .right img{
        width: 106px;
        height: 101px;
        margin-right: 10px;
        margin-left: 20px;
        
       
    }
    .menu-item-center .food-name{
        font-family: var(--text-secondary);
        font-size: 18px;
        font-weight: bold;
        color: #333333;
        margin-bottom: 0px;
    }

    /*start speical-offer queryset*/
    .special-offer-items{
        display: flex;
        flex-direction: column;
        
    }
    .special-item{
        width: 500px;
        height: 592px;
        border: none;
        box-shadow: 0px 2px 2px 2px #4F4F4F;
        display: flex;
        flex-direction: column;
       border-radius: 6px;
       margin-top: 20px;
       margin-left: 50%;
    }

    .special-item img{
        padding: 47px;
        margin-bottom: 5px;
        width: auto;
        height: 400px;
    }
    .special-item .special-price{
        width: 190px;
        height:190px;
        padding-top: 80px;
        padding-bottom: 90px;
        padding-right: auto;
        padding-left: auto;
        position: relative;
        bottom:32vh;
        left: 50%;
        border-color: var(--color-black);
        border-style: dotted;
        border-radius: 50%;
        background-color: var(--color-white);
     }
}

@media (max-width: 425px){

    /* Start Why us in media queries */

    .why-us{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px 0px;
        gap: 20px;
    
    }
    
    .why-us img{
         width: 80px;
    }
    
    .whs-col{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
     
    
    
    }
    
    .why-us h5{
        font-family: var(--text-primary);
        font-weight: bold;
        font-size: 24px;
        color: #4F4F4F;
    }
    
    /* End Why us */
    /*start menu mediaquery*/
    .menu-button .outline{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        max-width: 415px;
        margin-top: 80px;
        
    }
    .outline span{
        
        letter-spacing: -2px;
    }

    .left, .right{
        display: flex;
        
        border-bottom: 2px dotted var(--color-black);
        padding: 5px 0px;
        
        
    }
    .left img, .right img{
        width: 90px;
        height: 85px;
        margin-right: 10px;
        margin-left: 15px;
       
    }
    
    .menu-item-center .food-name{
        font-family: var(--text-secondary);
        font-size: 18px;
        font-weight: bold;
        color: #333333;
        margin-bottom: 0px;
    }
    .menu-item-center .food-cal{
        font-family: var(--text-secondary);
        font-size: 16px;
        font-weight: 400;
        color: #333333;
       
      
    }
    .menu-item-center .foof-description{
        margin-bottom: 0px;
    }
    
   
    
    /*start speical-offer queryset*/
    .special-item{
        width: auto;
        height: 492px;
        border: none;
        box-shadow: 0px 2px 2px 2px #4F4F4F;
        display: flex;
        flex-direction: column;
       border-radius: 6px;
       margin: 20px;
       
        
    } 
    .special-item img{
        padding: 47px;
        margin-bottom: 5px;
        width: auto;
        height: 320px;
    }
    .special-item .special-price{
        width: 120px;
        height:120px;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-right: auto;
        padding-left: auto;
        position: relative;
        bottom:32vh;
        left: 50%;
        border-color: var(--color-black);
        border-style: dotted;
        border-radius: 50%;
        background-color: var(--color-white);
     }
    
}





